.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.App>h1{
  font-size: 4vw;
}
.App>h2 {
  font-size: 3vw;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

input{
margin-top: 2rem;
}